<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
  <div>
    <label for="title">Title: </label>
    <input
      id="title" 
      type="text"
      formControlName="title"
      placeholder="Todo title"
    >
  </div>

  <div>
    <label for="description">Description: </label>
    <textarea
      id="description"
      formControlName="description"
      placeholder="Todo description"
    ></textarea>
  </div>

  <div>
    <label for="ready">Ready: </label>
    <input id="ready" type="checkbox" formControlName="ready">
  </div>

  <button
    type="confirm"
    [disabled]="todoForm.invalid"
  >Add/Edit Todo</button>
</form>

<ul *ngIf="todos.length" class="list-group">
  <li *ngFor="let todo of todos; let i = index" 
    class="border border-2 rounded p-1 mb-2 bg-light list-group-item d-flex justify-content-between" 
    >
    <h3 [textContent]="todo.title" class=""></h3>
    <div>
      <button 
        (click)="editTodo(todo._id)"
        class = "btn btn-outline-primary mr-2"
        ><i class="bi bi-pencil"></i>
      </button>
      <button 
        (click)="removeTodo(todo._id)"
        class = "btn btn-outline-danger"
        ><i class="bi bi-trash"></i>
      </button>
    </div>
  </li>
</ul>

<!-- <ngbd-modal-component name="STAS !!!!"></ngbd-modal-component> -->

