<ul *ngIf="todos.length" class="list-group">  
  <ng-container *ngFor="let todo of todos; trackBy:todoIdentify">
    <!-- <a [routerLink]="[todo._id]"> -->
      <li role="button"
        class="border border-2 rounded p-1 mb-2 bg-light list-group-item d-flex justify-content-between"
        [ngClass] = 'todo.ready ? "border-success" : "border-primary"'
        >
        <h3 [textContent]="todo.title" class=""></h3>
        <div>
          <button *ngIf="!todo.ready"
            (click)="checkTodo(todo._id); $event.stopPropagation()"
            class = "btn btn-outline-success mr-2"
            ><i class="bi bi-check2-square"></i>
          </button>
          <button 
            (click)="editTodo(todo._id, content); $event.stopPropagation()"
            class = "btn btn-outline-primary mr-2"
            ><i class="bi bi-pencil"></i>
          </button>
          <button
            (click)="removeTodo(todo._id); $event.stopPropagation()"
            class = "btn btn-outline-danger"
            ><i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    <!-- </a> -->
  </ng-container>
</ul>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openAddTodoForm(content)">Add todo</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{editTodoId ? "Edit" : "Add" }} Todo</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAddTodoForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="modal-body">
    <div>
      <label for="title">Title: </label>
      <input
        id="title" 
        type="text"
        formControlName="title"
        placeholder="Todo title"
      >
    </div>

    <div>
      <label for="description">Description: </label>
      <textarea
        id="description"
        formControlName="description"
        placeholder="Todo description"
      ></textarea>
    </div>

    <div>
      <label for="ready">Ready: </label>
      <input id="ready" type="checkbox" formControlName="ready">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="closeAddTodoForm()">Close</button>
      <button type="confirm" [disabled]="todoForm.invalid" class="btn btn-primary">
        {{editTodoId ? "Edit" : "Add" }} Todo
      </button>
    </div>
  </form>
</ng-template>
