<ul *ngIf="todos?.length" class="list-group">  
  <ng-container *ngFor="let todo of todos; trackBy:todoIdentify">
    <!-- <li role="button"
    class="border border-2 rounded p-1 mb-2 bg-light list-group-item"
    [ngClass] = 'todo.ready ? "border-success" : "border-primary"'
    >
      <a [routerLink]="[todo.id]" class="d-flex justify-content-between">
        <h3 [textContent]="todo.title" class=""></h3>
        <div>
          <button *ngIf="!todo.ready"
            (click)="checkTodo(todo.id); false"
            class = "btn btn-outline-success mr-2"
            learningWorkspaceStopPropagation
            ><i class="bi bi-check2-square"></i>
          </button>
          <button 
            (click)="editTodo(todo.id); false"
            class = "btn btn-outline-primary mr-2"
            learningWorkspaceStopPropagation
            ><i class="bi bi-pencil"></i>
          </button>
          <button
            (click)="removeTodo(todo.id); false"
            class = "btn btn-outline-danger"
            learningWorkspaceStopPropagation
            ><i class="bi bi-trash"></i>
          </button>
        </div>
      </a>
    </li> -->
    <learning-workspace-todo-item [todo]="todo" (todoAction)="todoActionRun($event, todo.id)">

    </learning-workspace-todo-item>
  </ng-container>
</ul>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="addTodo()">Add todo</button>

<ng-container *ngIf="openAddEditForm">
  <learning-workspace-add-edit-todo-form
    [editMode]="editMode"
    [todoForEdit]="selectedTodo"
    (addEditFormEvent)="afterCloseAddEditTodoForm($event)"
    >

  </learning-workspace-add-edit-todo-form>
</ng-container>
