<li role="button"
class="border border-2 rounded p-1 mb-2 bg-light list-group-item"
[ngClass] = 'todo?.ready ? "border-success" : "border-primary"'
>
  <a [routerLink]="[todo?.id]" class="d-flex justify-content-between">
    <h3 [textContent]="todo?.title"></h3>
    <div>
      <button *ngIf="!todo?.ready"
        (click)="checkTodo(); false"
        class = "btn btn-outline-success me-2"
        learningWorkspaceStopPropagation
        ><i class="bi bi-check2-square"></i>
      </button>
      <button 
        (click)="editTodo(); false"
        class = "btn btn-outline-primary me-2"
        learningWorkspaceStopPropagation
        ><i class="bi bi-pencil"></i>
      </button>
      <button
        (click)="removeTodo(); false"
        class = "btn btn-outline-danger"
        learningWorkspaceStopPropagation
        ><i class="bi bi-trash"></i>
      </button>
    </div>
  </a>
</li>
