<div class="d-flex align-items-center ">
  <p class="m-0 mr-2">Hello {{ userName | titlecase }}</p>
  <button (click)="openAuthForm()">{{isLoggedIn ? "Logout": "Login"}}</button>
</div>

<!-- <ng-template #auth>
  <div class="modal-header grid">
    <div class="g-col-6">
      <button
        type="button"
        class="btn"
        [ngClass]="{'btn-primary': isLogin}"
        (click)="setLogin()"
      >Login</button>
    </div>

    <div class="g-col-6">
      <button
        type="button"
        class="btn"
        [ngClass]="{'btn-primary': !isLogin}"
        (click)="setRegistration()"
      >Registration</button>
    </div>
  </div>

  <div *ngIf="isLogin; then login else registration"></div>

</ng-template> -->

<ng-container *ngIf="isOpenAuthForm">
  <learning-workspace-registration-form
    (registerFormEvent)="afterCloseAuthForm($event)"
  ></learning-workspace-registration-form>

  <!-- <learning-workspace-login-form
    (loginFormEvent)="afterCloseAuthForm($event)"
  ></learning-workspace-login-form> -->
</ng-container>