<div class="d-flex align-items-center ">
  <p class="m-0 mr-2">Hello {{ userName | titlecase }}</p>
  <button (click)="openAuthForm()">{{isLoggedIn ? "Logout": "Login"}}</button>
</div>


<ng-container *ngIf="isOpenAuthForm">
  <ng-template *ngIf="isLogin; then loginBlock else registerBlock"></ng-template>

  <ng-template #loginBlock>
    <learning-workspace-login-form
      (loginFormEvent)="userLogin($event)"
    ></learning-workspace-login-form>
  </ng-template>

  <ng-template #registerBlock>
    <learning-workspace-registration-form
      (registerFormEvent)="userRegister($event)"
    ></learning-workspace-registration-form>
  </ng-template>
</ng-container>