<div class="d-flex align-items-center ">
  <p class="m-0 me-2">Hello {{ userName | titlecase }}</p>
  <button (click)="auth()">{{isLoggedIn ? "Logout": "Login"}}</button>
</div>

<ng-template #modal>
  <div class="modal-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      
      <ng-container ngbNavItem>
        <a ngbNavLink>Login</a>
        <ng-template ngbNavContent>
          <learning-workspace-login-form
            (formEvent)="userLogin($event)"
          ></learning-workspace-login-form>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Registration</a>
        <ng-template ngbNavContent>
          <learning-workspace-registration-form
            (formEvent)="userRegister($event)"
          ></learning-workspace-registration-form>
        </ng-template>
      </ng-container>

      <button
        type="button"
        class="btn-close ms-auto"
        aria-label="Close"
        (click)="closeModal()"
      >
      </button>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</ng-template>
